
<div class="form-group">
  <label for="name">Agent</label>
  <input type="text" class="form-control" id="name" name="name" placeholder="Birth Name" autocomplete="off"/>
  <label for="name">Alias/Codename</label>
  <input type="text" class="form-control" id="alias" name="alias" placeholder="Official Cover Name" autocomplete="off"/>
  <label for="name">Rank</label>
  <input type="text" class="form-control" id="rank" name="rank" placeholder="Rank/Role" autocomplete="off"/>
  <label for="name">Nationality</label>
  <input type="text" class="form-control" id="nationality" name="nationality" placeholder="Nationality" autocomplete="off"/>
  <label for="name">Agency</label>
  <input type="text" class="form-control" id="agency" name="agency" placeholder="Agency" autocomplete="off"/>

</div>


<input type="submit" class="form-control" name="submit" value="Add Agent" />
