
<div class="form-group">
  <label for="username">Secure Server - Authorized Users Only - FOUO</label>
  <input type="text" class="form-control" id="username" name="username" placeholder="Username" autocomplete="off"/>
  <input type="password" class="form-control" id="password" name="password" placeholder="Password" autocomplete="off"/>
  <span id="warn"><span>
</div>
<input type="submit" class="form-control" id="submit-btn" name="submit" value="Submit" />
